#tableDiv {height: 350px;}
#searchDiv {width:800px; margin:auto;}
#deleteAllSpan {float: right; margin-right: 20px; margin-top: 15px;}
#userListTab { margin: 10px 0 10px 70px; width: 800px;}
#checkboxTd {width: 60px;}
