body {margin: 0;}
#funTitleDiv {font-size: 22px;margin: auto; text-align: center;}
#tableDiv {height: 427px;margin-top: 13px;}
#searchDiv {width:840px; margin:auto;}
#deleteAllSpan {float: right;margin-right: 17px; margin-top: 8px;}
#deleteBtn{    height: 30px;
    width: 61px;
    background-color: #15B69A;
    border: 0;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;}
#userListTab { margin: 10px 0 10px 70px; width:840px; table-layout:fixed;word-wrap:break-word;}

/* Border styles */
#userListTab tr td {
border-top-width: 1px;
border-top-style: solid;
border-top-color: rgb(211, 202, 221);
white-space:nowrap;
overflow:hidden;
text-overflow: ellipsis;
}

#userListTab {
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: rgb(211, 202, 221);
}

#userListTab tr th {
border-top-width: 2px;
border-top-style: solid;
border-top-color: rgb(211, 202, 221);
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: rgb(211, 202, 221);
}
/* Padding and font style */
#userListTab td, #userListTab th {
padding: 5px 10px;
font-size: 12px;
font-family: Verdana;
color: rgb(95, 74, 121);
}

/* Alternating background colors */
#userListTab tr:nth-child(even) {
background: rgb(223, 216, 232)
}
#userListTab tr:nth-child(odd) {
background: #FFF
}

#userListTab tr:hover{
background: rgb(150, 150, 232)
}

#checkboxTd {width: 60px;}
td{text-align:center}
#flashMsg{widows: 100%; text-align: center;}
.studentName{cursor: pointer; color: blue; font-size: 12px;}
.studentName:hover{text-decoration:underline}
.clickspan{cursor: pointer; color: blue; font-size: 12px;}
.clickspan:hover{text-decoration:underline}

